<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinema.avans.cinemaapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Log in -->
        <activity android:name=".frontEnd.presentation.logIn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frontEnd.presentation.register.RegisterActivity"></activity>

        <!-- Manager -->
        <activity android:name=".frontEnd.presentation.manager.ManagerHubActivity"></activity>
        <activity android:name=".frontEnd.presentation.manager.CreateHallActivity"></activity>
        <activity android:name=".frontEnd.presentation.manager.CreateMovieActivity"></activity>
        <activity android:name=".frontEnd.presentation.manager.CreateShowingConfirmActivity"></activity>
        <activity android:name=".frontEnd.presentation.manager.CreateShowingSelectMovieActivity"></activity>
        <activity android:name=".frontEnd.presentation.manager.CreateShowingSelectHallActivity"></activity>

        <!-- User -->
        <activity android:name=".frontEnd.presentation.user.UserHubActivity"></activity>
        <activity android:name=".frontEnd.presentation.user.MovieListActivity"></activity>
        <activity android:name=".frontEnd.presentation.user.MovieDetailedActivity"></activity>
        <activity android:name=".frontEnd.presentation.user.MovieDetailedShowingsActivity"></activity>
        <activity android:name=".frontEnd.presentation.user.SeatSelectorActivity"></activity>
        <activity android:name=".frontEnd.presentation.user.PayActivity"></activity>
        <activity android:name=".frontEnd.presentation.manager.CreateShowingSelectDateActivity"></activity>
    </application>

</manifest>